<!DOCTYPE html>
<html>
	<head>
		<title>MOTIONBIT</title>
		<meta charset="UTF-8" description="Document1" keywords="none">
		<link rel="stylesheet" href="css/style.css" type="text/css"/>
		<link rel="stylesheet" href="css/default.css" type="text/css"/>
	</head>
	<body>
		<header>
			<content>
				<navbar>
					<div class="_logo"><img src="src/logos/light/MOTIONBIT_WORDMARK.svg" width="98px"></div>
				</navbar>
				<navbar>
					<a>Home</a>
					<a>Downloads</a>
					<a>Support</a>
					<a>xrystalys</a>
					<img src="src/testavatar.png" class="avatar x32 _shade _pointer"/>
				</navbar>
			</content>
		</header>
			<content>
				<div class="_page _avoidheader">
					<div class="_wrap w3 settings _flex _cheader">
						<!-- sidebar -->
						<div class="sidebar">
								<button class="button sidebtn selected">Account</button>
								<button class="button sidebtn">Security</button>
								<button class="button sidebtn">Purchases</button>
								<button class="button sidebtn">Loyalty</button>
								<button class="button sidebtn">Support</button>
						</div>
						<!-- settings -->
						<div class="container">
							<div class="padding_wrap">
								<h1>Account</h1> 			
								<div class="card _round _outline _whitebg _cutbottom">
									<header>
										<h3>Profile</h3><button class="button hollow x1">edit</button>
									</header>
									<div class="content">
										<div class="message-box ok">Successful changes saved</div>
										<div class="_margin _center">
											<img src="src/testavatar.png" class="avatar x160 _shade"/>
										</div>
										<table width="70%">
											<tr><td class="l">ID</td><td class="_overflow">1</td></tr>
											<tr><td class="l">Display Name</td><td class="_overflow">xrystalys</td></tr>
											<tr><td class="l">E-mail</td><td class="_overflow">mrmerkgamma1227@ya.ru</td></tr>
											<tr><td class="l">First Name</td><td class="_overflow">Dimitry</td></tr>
											<tr><td class="l">Last Name</td><td class="_overflow">Morozov</td></tr>
										</table>
									</div>
								</div>
								<div class="card _round _outline _whitebg _cutbottom">
									<header>
										<h3>Billing & Shipping address</h3><button class="button hollow x1">edit</button>
									</header>
									<div class="content">
										<table width="70%">
											<tr><td class="l">Billing address</td><td class="_overflow">1335 4th St, San Francisco, CA 94158, United States</td></tr>
											<tr><td class="l">Shipping address</td><td class="_overflow">1335 4th St, San Francisco, CA 94158, United States</td></tr>
										</table>
									</div>
								</div>
								<div class="card _round _outline _whitebg _cutbottom">
									<header>
										<h3>Profile (editing)</h3><button class="button hollow x1 gray" type="button">cancel</button>
									</header>
									<div class="content">
										<div class="message-box">
											After complete click "save" or "cancel"
										</div>
										<form class="card-form" enctype="application/x-www-form-urlencoded" method="get" id="form-here_name" novalidate="">
											<div class="_margin _center">
												<img src="src/testavatar.png" class="avatar x160"/>
												<span class="upload-overlay"></span>
											</div>
											<table width="100%">
												<tr>
													<td>
														<div class="textbox _grayed">      
															<input name="loremipsum" id="textbox-here_name" autocomplete="off" type="text" value="1" disabled required/>
															<span class="textboxbar"></span>
															<label class="disabled">ID</label>
														</div>
														<div class="textbox">      
															<input name="loremipsum" id="textbox-here_name" autocomplete="off" type="text" value="xrystalys" drequired/>
															<span class="textboxbar"></span>
															<label>Display Name</label>
														</div>
														<div class="textbox">      
															<input name="loremipsum" id="textbox-here_name" autocomplete="off" type="text" value="mrmerkgamma1227@ya.ru" required/>
															<span class="textboxbar"></span>
															<label>E-mail</label>
														</div>
														<div class="textbox">      
															<input name="loremipsum" id="textbox-here_name" autocomplete="off" type="text" value="Dimitry" required/>
															<span class="textboxbar"></span>
															<label>First Name</label>
														</div>
														<div class="textbox">      
															<input name="loremipsum" id="textbox-here_name" autocomplete="off" type="text" value="Morozov" required/>
															<span class="textboxbar"></span>
															<label>Last Name</label>
														</div>
													</td>
												</tr>
											</table>
											<div class="_flex _center">
												<button class="button hollow x1 gray" type="submit">save</button>
											</div>
										</form>
									</div>									
								</div>
								<div class="card _round _outline _cutbottom">
									<header>
										<h3>Billing & Shipping address (editing)</h3><button class="button hollow x1 gray" type="button">cancel</button>
									</header>
									<div class="content">
										<div class="message-box">
											After complete click "save" or "cancel"
										</div>
										<form class="card-form" enctype="application/x-www-form-urlencoded" method="get" id="form-here_name" novalidate="">
											<table width="100%">
												<tr>
													<td>
														<div class="textbox">      
															<input name="loremipsum" id="textbox-here_name" autocomplete="off" type="text" value="1335 4th St, San Francisco, CA 94158, United States" required/>
															<span class="textboxbar"></span>
															<label>Billing address</label>
														</div>
														<div class="textbox">      
															<input name="loremipsum" id="textbox-here_name" autocomplete="off" type="text" value="1335 4th St, San Francisco, CA 94158, United States" required/>
															<span class="textboxbar"></span>
															<label>Shipping address</label>
														</div>
													</td>
												</tr>
											</table>
											<div class="_flex _center">
												<button class="button hollow x1 gray" type="submit">save</button>
											</div>
										</form>
									</div>									
								</div>
							</div>
						</div>
					</div>
				</div>
		</content>
		<footer>
			<div class="cell">
				<img src="src/logos/dark/motionbit_wordmark_0-0625x.png">
				<div class="lang combo"><img src="src/flags/UK.png">English</div>
			</div>
			<content>
				<navbar>
					<a>Blog</a>
					<a>Downloads</a>
					<a>Support</a>
					<a>Our project</a>
					<a>Loyalty</a>
					<a>Motionbit ID</a>
				</navbar>
				<div class="lists">
					<table width="50%">
						<tr><th>Softwares</th>						<th>Motionbit</th>							<th>Support</th>				<th>Follow us</th>																							</tr>
						<tr><td><a class="l">Polymer</a></td>		<td><a class="l">Our project</a></td>		<td><a class="l">Forum</a></td>			<td><a href="https://discord.gg/WQb8uFg"><img src="src/discordwordmark.svg" height="24px"/></a><a href="https://www.youtube.com/channel/UCr9IAP_qcMOMZ8xelA8VmwQ"><img src="src/youtubelogo.svg" height="24px"/></a></td>	</tr>
						<tr><td><a class="l">Engine</a></td>		<td><a class="l">Blog</a></td>				<td><a class="l">Softwares</a></td>																													</tr>
						<tr><td><a class="l">Other</a></td>			<td><a class="l">ID</a></td>				<td><a class="l">Contact us</a></td>																													</tr>
						<tr><td><a class="l">Free</a></td>			<td></td>									<td></td>																																	</tr>
					</table>
				</div>
				<div class="subfooter _space-between">
					<div class="smtext"><a class="smlink">Homepage</a> <a class="smlink">Refund Policy</a> <a class="smlink">Legal Notice</a> <a class="smlink">Terms of Use</a> <a class="smlink">Privacy Policy</a></div>
					<copyright>
						<div class="smtext">
							© 2020 Motionbit Project. All Rights Reserved
						</div>
					</copyright>
				</div>
			</content>
		</footer>
	</body>
</html>