<!DOCTYPE html>
<head>
	<title>MOTIONBIT</title>
	<meta charset="UTF-8" description="Document1" keywords="none">
	<link rel="stylesheet" href="css/style.css" type="text/css"/>
	<link rel="stylesheet" href="css/default.css" type="text/css"/>
</head>
<body>
	<div class="content">
		<div class="savewrap">
			<header>
				<div class="header">
					<div class="navbar-header">
						<div class="_logo"><img src="src/motionbit_home.png" width="138" height="20"></div>
					</div>
					<div class="navbar-header">
						<a class="navbutton">Home</a>
						<a class="navbutton">Downloads</a>
						<a class="navbutton">Support</a>
						<a class="navbutton">xrystalys</a>
						<a style="margin: 6px 0 0 8px" ><img src="src/testavatar.png" class="avatar x32 _shade _pointer"/></a>
					</div>
				</div>
			</header>
			<content>
				<div class="_page">
					<div class="_wrap w3 settings _flex _cheader">
						<!-- sidebar -->
						<div class="sidebar">
								<button class="button sidebtn selected">Account</button>
								<button class="button sidebtn">Security</button>
								<button class="button sidebtn">Purchases</button>
								<button class="button sidebtn">Loyalty</button>
								<button class="button sidebtn">Support</button>
						</div>
						<!-- settings -->
						<div class="container">
							<div class="padding_wrap">
								<h1>Account</h1>
								<div class="card-container _round _outline _cutbottom">
									<div class="card-header">
										<h3 class="h3-card">Profile</h3><button class="button hollow x1">edit</button>
									</div>
									<div class="card-content">
										<div class="message-box ok">Successful changes saved</div>
										<div class="_margin _center">
											<img src="src/testavatar.png" class="avatar x160 _shade"/>
										</div>
										<table width="70%">
											<tr><td class="card-label table-margin">ID</td><td class="card-subtext table-margin _overflow">1</td></tr>
											<tr><td class="card-label table-margin">Display Name</td><td class="card-subtext table-margin _overflow">xrystalys</td></tr>
											<tr><td class="card-label table-margin">E-mail</td><td class="card-subtext table-margin _overflow">mrmerkgamma1227@ya.ru</td></tr>
											<tr><td class="card-label table-margin">First Name</td><td class="card-subtext table-margin _overflow">Dimitry</td></tr>
											<tr><td class="card-label table-margin">Last Name</td><td class="card-subtext table-margin _overflow">Morozov</td></tr>
										</table>
									</div>
								</div>
								<div class="card-container _round _outline _cutbottom">
									<div class="card-header">
										<h3 class="h3-card">Billing & Shipping address</h3><button class="button hollow x1">edit</button>
									</div>
									<div class="card-content">
										<table width="70%">
											<tr><td class="card-label table-margin">Billing address</td><td class="card-subtext table-margin _overflow">1335 4th St, San Francisco, CA 94158, United States</td></tr>
											<tr><td class="card-label table-margin">Shipping address</td><td class="card-subtext table-margin _overflow">1335 4th St, San Francisco, CA 94158, United States</td></tr>
										</table>
									</div>
								</div>
								<div class="card-container _round _outline _cutbottom">
									<div class="card-header">
										<h3 class="h3-card">Profile (editing)</h3><button class="button hollow x1 gray" type="button">cancel</button>
									</div>
									<div class="card-content">
										<div class="message-box">After complete click "save" or "cancel"</div>
										<form class="card-form" enctype="application/x-www-form-urlencoded" method="get" id="form-here_name" novalidate="">
											<div class="_margin _center">
												<img src="src/testavatar.png" class="avatar x160"/>
												<span class="upload-overlay"></span>
											</div>
											<table width="100%">
												<tr><td class="card-label table-margin">
													<div class="textbox _grayed">      
														<input name="loremipsum" id="textbox-here_name" autocomplete="off" type="text" value="1" disabled required/>
														<span class="textboxbar"></span>
														<label class="disabled">ID</label>
													</div>
													<div class="textbox">      
														<input name="loremipsum" id="textbox-here_name" autocomplete="off" type="text" value="xrystalys" drequired/>
														<span class="textboxbar"></span>
														<label>Display Name</label>
													</div>
													<div class="textbox">      
														<input name="loremipsum" id="textbox-here_name" autocomplete="off" type="text" value="mrmerkgamma1227@ya.ru" required/>
														<span class="textboxbar"></span>
														<label>E-mail</label>
													</div>
													<div class="textbox">      
														<input name="loremipsum" id="textbox-here_name" autocomplete="off" type="text" value="Dimitry" required/>
														<span class="textboxbar"></span>
														<label>First Name</label>
													</div>
													<div class="textbox">      
														<input name="loremipsum" id="textbox-here_name" autocomplete="off" type="text" value="Morozov" required/>
														<span class="textboxbar"></span>
														<label>Last Name</label>
													</div>
												</td></tr>
											</table>
											<center><button class="button hollow x1 gray" type="submit">save</button></center>
										</form>
									</div>									
								</div>
								<div class="card-container _round _outline _cutbottom">
									<div class="card-header">
										<h3 class="h3-card">Billing & Shipping address (editing)</h3><button class="button hollow x1 gray" type="button">cancel</button>
									</div>
									<div class="card-content">
										<div class="message-box">After complete click "save" or "cancel"</div>
										<form class="card-form" enctype="application/x-www-form-urlencoded" method="get" id="form-here_name" novalidate="">
											<table width="100%">
												<tr><td class="card-label table-margin">
													<div class="textbox">      
														<input name="loremipsum" id="textbox-here_name" autocomplete="off" type="text" value="1335 4th St, San Francisco, CA 94158, United States" required/>
														<span class="textboxbar"></span>
														<label>Billing address</label>
													</div>
													<div class="textbox">      
														<input name="loremipsum" id="textbox-here_name" autocomplete="off" type="text" value="1335 4th St, San Francisco, CA 94158, United States" required/>
														<span class="textboxbar"></span>
														<label>Shipping address</label>
													</div>
												</td></tr>
											</table>
											<center><button class="button hollow x1 gray" type="submit">save</button></center>
										</form>
									</div>									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- color map -->
				<div class="_page">
					<div class="_wrap w2">
						<div class="wrap_box" style="flex-direction: inherit;">
							<style>
								.clrcell {
									height: 7em;
								}
							</style>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #000000;"></div>
								<center>#000000</center>
							</div>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #FFFFFF;"></div>
								<center>#FFFFFF</center>
							</div>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #3CFF96;"></div>
								<center>#3CFF96</center>
							</div>	
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #50DCFF;"></div>
								<center>#50DCFF</center>
							</div>	
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #50AFFF;"></div>
								<center>#50AFFF</center>
							</div>	
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #2800FF;"></div>
								<center>#2800FF</center>
							</div>	
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #6414FF;"></div>
								<center>#6414FF</center>
							</div>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #B41EFF;"></div>
								<center>#B41EFF</center>
							</div>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #FF28FF;"></div>
								<center>#FF28FF</center>
							</div>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #FF2752;"></div>
								<center>#FF2752</center>
							</div>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #FF785A;"></div>
								<center>#FF785A</center>
							</div>
						</div>
					</div>
				</div>
			</content>
		</div>
		<footer>
			<div class="_wrap-footer">
				<div class="_logo-dark">
					<img src="src/motionbit_home_white.png" width="138" height="20">
				</div>
				<div class="footer-content">
					<div class="navbar-footer">
						<a class="navbutton-footer">Blog</a>
						<a class="navbutton-footer">Downloads</a>
						<a class="navbutton-footer">Support</a>
						<a class="navbutton-footer">Join us</a>
					</div>
					<div class="copyright">
						<p>© 2020 Motionbit Team</p>
					</div>
				</div>
			</div>
		<footer>
	</div>
</body>
</html>