<!DOCTYPE html>
<head>
	<title>Документ</title>
	<meta charset="UTF-8" description="Document1" keywords="none">
	<link rel="stylesheet" href="css/style.css" type="text/css"/>
	<link rel="stylesheet" href="css/default.css" type="text/css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
</head>
<body>
	<div class="content">
		<header>
			<div class="header-area">
				<div class="header">
					<div class="header-btn">
						<div class="default_logo"><img src="src/motionbit_home.png" width="138" height="20"></div>
					</div>
					<div class="header-btn">
						<a class="hdbtn">Home</a>
						<a class="hdbtn">Products</a>
						<a class="hdbtn">Support</a>
						<a class="hdbtn">Carrier</a>
						<a class="hdbtn">FAQ</a>
					</div>
				</div>
			</div>
		</header>
		<div class="content-wrapper">
			<div class="useful-area">
				<div class="block">
					<div class="allbuttons">
						<div class="blackbtn">
							<div class="btnHZ whait">
								<h2>To space</h2>
								<p>Futurustic gradients</p>
							</div>
							<div class="btnwrap">
								<a class="material_btn atmosphere">Atmosphere</a>
								<a class="material_btn mars">Mars</a>
								<a class="material_btn neptune">Neptune</a>
								<a class="material_btn uranus">Uranus</a>
								<a class="material_btn exoplanet">Exoplanet</a>
								<a class="material_btn mercury">Mercury</a>
								<a class="material_btn solar">Solar</a>
							</div>
								
						</div>
						<div class="otherbtn">
							<div class="btnHZ">
								<h2>Beautiful colors</h2>
								<p>Compilable with world tendentions</p>
							</div>
							<div class="btnwrap">
								<a class="material_btn redalert">RedAlert</a>
								<a class="material_btn plum">The Plum</a>
								<a class="material_btn firefall">Fire fall</a>
								<a class="material_btn phoenix">Phoenix</a>
								<a class="material_btn cyan_plasma">Cyan Plasma</a>
								<a class="material_btn greenblue">Green Blue</a>
								<a class="material_btn oceansea">Ocean Sea</a>
								<a class="material_btn the_sea">The Sea</a>
								<a class="material_btn heavy_water">Heavy Water</a>
								<a class="material_btn flurry">Flurry Heart</a>
								<a class="material_btn energy_plant">Energy Plant</a>
								<a class="material_btn magenta">Magenta</a>
								<a class="material_btn violet">Violet</a>
								<a class="material_btn nightmare">Nightmare</a>
								<a class="material_btn nightsky">Night sky</a>
							</div>
							
							
						</div>
						<div class="otherbtn">
							<div class="btnHZ">
								<h2>Other colors</h2>
								<p>Not aesthetic gradients</p>
							</div>
							<div class="btnwrap">
								<a class="material_btn romantic">Romantic</a>
								<a class="material_btn magmaslime">Magmaslime</a>
								<a class="material_btn instagram">Instagram</a>
								<a class="material_btn slime">Slime</a>
								<a class="material_btn lime">Lime</a>
								<a class="material_btn extralime">Extralime</a>
								<a class="material_btn mint">Mint</a>
								<a class="material_btn green">GreenPeace</a>
								<a class="material_btn schweppes">Schweppes</a>
								<a class="material_btn ponyville">Ponyville</a>
								<a class="material_btn adulthood">Adulthood</a>
								<a class="material_btn acid">Acid</a>
								<a class="material_btn bipolar">Bipolar</a>
								<a class="material_btn bluewater">Bluewater</a>
								<a class="material_btn leonardo">Leonardo</a>
								<a class="material_btn childhood_night">Childhood Night</a>
								<a class="material_btn thermovision">Thermovision</a>
							</div>
							
						</div>
						<div class="otherbtn">
							<div class="btnHZ">
								<h2>The Gray</h2>
								<p>For extended use</p>
							</div>
							<div class="btnwrap">
								<a class="material_btn ghost">Ghost</a>
								<a class="material_btn phantom">Phantom</a>
								<a class="material_btn to_nowhere">To nowhere</a>
								<a class="material_btn grand_hotel">Grand Hotel</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content-wrapper foot">
			<div class="footerlogo">
				<img src="src/motionbit_home_white.png" width="138" height="20">
			</div>
			<div class="footer">
				<div class="footer-btn">
						<a class="fdbtn">About us</a>
						<a class="fdbtn">Blog</a>
						<a class="fdbtn">Products</a>
						<a class="fdbtn">Support</a>
						<a class="fdbtn">Investors</a>
						<a class="fdbtn">Carrier</a>
						<a class="fdbtn">FAQ</a>
				</div>
				<div class="copyright">
						<p class="cprg">© 2019 Motionbit Team</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>