<!DOCTYPE html>
<html>
	<head>
		<title>MOTIONBIT</title>
		<meta charset="UTF-8" description="Document1" keywords="none">
		<link rel="stylesheet" href="css/style.css" type="text/css"/>
		<link rel="stylesheet" href="css/default.css" type="text/css"/>
	</head>
	<body>
		<header>
			<content>
				<navbar>
					<div class="_logo"><img src="src/logos/light/MOTIONBIT_WORDMARK.svg" width="98px"></div>
				</navbar>
				<navbar>
					<a>Home</a>
					<a>Downloads</a>
					<a>Support</a>
					<a>Sign In</a>
				</navbar>
			</content>
		</header>
		<cookieslaw>
			<div class="card _padX _outline _space-between">
				<p class="smtext">
				Motionbit project uses cookies to improve the content and user experience on this site. 
				By continuing to use, you agree to our <a class="smlink">Privacy Policy</a>. 
				You can also disable unwanted parameters in <a class="smlink">settings</a>.
				</p>
				<button class="button hollow">I understand</button>
			</div>
		</cookieslaw>
		<floatwindow class="_hide">
			<div class="lock _flex _center">
				<div class="card _round _outline _whitebg _vert-align-middle">
					<header>
						<h3>Cookie settings</h3><button class="button hollow gray">close</button>
					</header>
					<div class="content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
						<iframe src="index.html" width="100%" height="500px" align="center"></iframe>
					</div>
				</div>
			</div>
		</floatwindow>
			<content>
				<div class="_page _fullscr">
					<div class="mainpage _wrap w3 _space-between _middle">
						<div class="login-welcome-text">
							WELCOME BACK
							<div class="login-welcome-subtext">
								xrystalys
							</div>
						</div>
						<div class="card login whitebg _outline _round _inline _vert-align-middle">
							<header>
								<h3>Log in</h3>
							</header>
							<div class="content">
								<form class="_column" enctype="application/x-www-form-urlencoded" method="get" id="form-here_name" novalidate="">
									<div class="textbox" style="margin: 0px 0 20px 0;">
										<input name="password" id="textbox_password" autocomplete="always" type="text" value="" required/>
										<span class="textboxbar"></span>
										<label>Password</label>
									</div>
									<div class="_hstretch">
										<button class="button warm">Log in</button>
										<a href="#" class="smlink" style="margin: 12px 0 12px 0; text-align: center;">need help?</a>
										<p class="smtext"></p>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</content>
		</div>
		<footer>
			<div class="cell">
				<img src="src/logos/dark/MOTIONBIT_WORDMARK.svg">
				<div class="lang combo"><img src="src/flags/UK.png">English</div>
			</div>
			<content>
				<navbar>
					<a>Blog</a>
					<a>Downloads</a>
					<a>Support</a>
					<a>Our project</a>
					<a>Loyalty</a>
					<a>Motionbit ID</a>
				</navbar>
				<div class="lists">
					<table width="50%">
						<tr><th>Softwares</th>						<th>Motionbit</th>							<th>Support</th>				<th>Follow us</th>																							</tr>
						<tr><td><a class="l">Polymer</a></td>		<td><a class="l">Our project</a></td>		<td><a class="l">Forum</a></td>			<td><a href="https://discord.gg/WQb8uFg"><img src="src/discordwordmark.svg" height="24px"/></a><a href="https://www.youtube.com/channel/UCr9IAP_qcMOMZ8xelA8VmwQ"><img src="src/youtubelogo.svg" height="24px"/></a></td>	</tr>
						<tr><td><a class="l">Engine</a></td>		<td><a class="l">Blog</a></td>				<td><a class="l">Softwares</a></td>																													</tr>
						<tr><td><a class="l">Other</a></td>			<td><a class="l">ID</a></td>				<td><a class="l">Contact us</a></td>																													</tr>
						<tr><td><a class="l">Free</a></td>			<td></td>									<td></td>																																	</tr>
					</table>
				</div>
				<div class="subfooter _space-between">
					<div class="smtext"><a class="smlink">Homepage</a> <a class="smlink">Refund Policy</a> <a class="smlink">Legal Notice</a> <a class="smlink">Terms of Use</a> <a class="smlink">Privacy Policy</a></div>
					<copyright>
						<div class="smtext">
							© 2020 Motionbit Project. All Rights Reserved
						</div>
					</copyright>
				</div>
			</content>
		</footer>
	</body>
</html>