<!DOCTYPE html>
<head>
	<title>MOTIONBIT</title>
	<meta charset="UTF-8" description="Document1" keywords="none">
	<link rel="stylesheet" href="css/style.css" type="text/css"/>
	<link rel="stylesheet" href="css/default.css" type="text/css"/>
</head>
<body>
	<div class="content">
		<div class="savewrap">
			<header>
				<div class="header">
					<div class="navbar-header">
						<div class="_logo"><img src="src/motionbit_home.png" width="138" height="20"></div>
					</div>
					<div class="navbar-header">
						<a class="navbutton">Home</a>
						<a class="navbutton">Downloads</a>
						<a class="navbutton">Support</a>
						<a class="navbutton">Sign In</a>
					</div>
				</div>
			</header>
			<content>
				<div class="_page _fullscr">
					<div class="mainpage _wrap w3 _space-between _middle">
						<div class="login-welcome-text">
							WELCOME BACK
							<div class="login-welcome-subtext">
								xrystalys
							</div>
						</div>
						<div class="card-container login whitebg _outline _round _inline _vert-align-middle">
							<div class="card-header" style="border: none;"><h3>Log in</h3></div>
							<div class="card-content _relative">
								<form class="card-form _column" enctype="application/x-www-form-urlencoded" method="get" id="form-here_name" novalidate="">
									<div class="loginwrap">
										<div class="textbox">
											<input name="email" id="textbox-here_name" autocomplete="always" type="password" value="" required/>
											<span class="textboxbar"></span>
											<label>Password</label>
										</div>
									</div>
									<div class="_hstretch">
										<button class="button warm">Log in</button>
										<a href="#" class="smlink" style="margin: 12px 0 12px 0; text-align: center;">need help?</a>
										<p class="smtext"></p>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- color map -->
				<div class="_page">
					<div class="_wrap w2">
						<div class="wrap_box" style="flex-direction: inherit;">
							<style>
								.clrcell {
									height: 7em;
								}
							</style>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #000000;"></div>
								<center>#000000</center>
							</div>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #FFFFFF;"></div>
								<center>#FFFFFF</center>
							</div>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #3CFF96;"></div>
								<center>#3CFF96</center>
							</div>	
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #50DCFF;"></div>
								<center>#50DCFF</center>
							</div>	
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #50AFFF;"></div>
								<center>#50AFFF</center>
							</div>	
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #2800FF;"></div>
								<center>#2800FF</center>
							</div>	
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #6414FF;"></div>
								<center>#6414FF</center>
							</div>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #B41EFF;"></div>
								<center>#B41EFF</center>
							</div>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #FF28FF;"></div>
								<center>#FF28FF</center>
							</div>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #FF2752;"></div>
								<center>#FF2752</center>
							</div>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #FF785A;"></div>
								<center>#FF785A</center>
							</div>
						</div>
					</div>
				</div>
			</content>
		</div>
		<footer>
			<div class="_wrap-footer">
				<div class="_logo-dark">
					<img src="src/motionbit_home_white.png" width="138" height="20">
				</div>
				<div class="footer-content">
					<div class="navbar-footer">
						<a class="navbutton-footer">Blog</a>
						<a class="navbutton-footer">Downloads</a>
						<a class="navbutton-footer">Support</a>
						<a class="navbutton-footer">Join us</a>
					</div>
					<div class="copyright">
						<p>© 2020 Motionbit Team</p>
					</div>
				</div>
			</div>
		<footer>
	</div>
</body>
</html>