<!DOCTYPE html>
<html>
	<head>
		<title>MOTIONBIT</title>
		<meta charset="UTF-8" description="Document1" keywords="none">
		<link rel="stylesheet" href="css/style.css" type="text/css"/>
		<link rel="stylesheet" href="css/default.css" type="text/css"/>
	</head>
	<body>
		<header>
			<content>
				<navbar>
					<div class="_logo"><img src="src/motionbit_home.png" width="116px" height="16px"></div>
				</navbar>
				<navbar>
					<a>Home</a>
					<a>Downloads</a>
					<a>Support</a>
					<a>Sign In</a>
				</navbar>
			</content>
		</header>
		<cookieslaw>
			<div class="card _padX _outline _space-between">
				<p class="smtext">
				Motionbit project uses cookies to improve the content and user experience on this site. 
				By continuing to use, you agree to our <a class="smlink">Privacy Policy</a>. 
				You can also disable unwanted parameters in <a class="smlink">settings</a>.
				</p>
				<button class="button hollow">I understand</button>
			</div>
		</cookieslaw>
		<floatwindow class="_hide">
			<div class="lock _flex _center">
				<div class="card _round _outline _whitebg _vert-align-middle">
					<header>
						<h3>Cookie settings</h3><button class="button hollow gray">close</button>
					</header>
					<content>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
						<iframe src="index.html" width="100%" height="500px" align="center"></iframe>
					</content>
				</div>
			</div>
		</floatwindow>
		<content>
			<div class="landing">
				<div class="title">
					POLYMER BETA
					<div class="sub">
						EARLY ACCESS
					</div>
				</div>
			</div>
			<div class="download _cut _center">
				<div class="_wrap x3 _center _column">
					<div class="_center">
						<div class="button x2 bold sunrise _btnitsdiv"><span class="_table-cell" style="padding: 0 24px 0 0;">Try demo</span><img class="icon" src="src/swindows.png"/></div>
						<div class="button x2 bold warm _btnitsdiv">Purchase</div>
						<div class="button x2 hollow orange _btnitsdiv">To cart</div>
					</div>
					<div class="_center _hide">
						<div class="button x2 bold midnight _btnitsdiv"><span class="_table-cell" style="padding: 0 24px 0 0;">Download free</span><img class="icon" src="src/swindows.png"/></div>
						<div class="button x2 hollow gray _btnitsdiv"><span class="_table-cell" style="padding: 0 24px 0 0;">Other platforms</span><img class="icon" style="padding-right: 5px" src="src/apple.png" /><img class="icon" src="src/linux.png"/></div>						
					</div>
					<div class="sub">
						version beta 1.0.0.1
					</div>
				</div>
			</div>
			<!-- landing featurizm -->
			<div class="benefits _page _clearfix _column _cut"> 
				<div class="card _space-between _reverse">
					<div class="info _vert-align-middle">
						<h2>class="_reverse"</h2>
						<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
						dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
						ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
						fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
						mollit anim id est laborum
						</p>
					</div>
					<img src="src/temporary/reversed.png"></img>
				</div>
				<div class="card _space-between">
					<div class="info _vert-align-middle">
						<h2>class="_reverse"</h2>
						<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
						dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
						ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
						fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
						mollit anim id est laborum
						</p>
					</div>
					<img src="src/temporary/notreversed.png"></img>
				</div>
				<div class="card _space-between _reverse">
					<div class="info _vert-align-middle">
						<h2>class="_reverse"</h2>
						<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
						dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
						ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
						fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
						mollit anim id est laborum
						</p>
					</div>
					<img src="src/temporary/class.png"></img>
				</div>
			</div>
			<div class="_page _column _bg5">
				<div class="_wrap w2 _column" style="padding: 20px 0">
					<div class="_center">
						<h2 style="color: #FFF">Lorem ipsum dolor sit amet</h2>
					</div>
					<div class="_center _space-between">
						<div class="lists _cut">
							<dl>
								<dt>
									<img src="src/temporary/forbidden.png"/>
								</dt>
								<dd>
									<h4>Lorem ipsum dolor sit amet</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
										sed do eiusmod tempor incididunt ut labore et 
										dolore magna aliqua.
									</p>
								</dd>
							</dl>
						</div>
						<div class="lists _cut">
							<dl>
								<dt>
									<img src="src/temporary/forbidden.png"/>
								</dt>
								<dd>
									<h4>Lorem ipsum dolor sit amet</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
										sed do eiusmod tempor incididunt ut labore et 
										dolore magna aliqua.
									</p>
								</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
			<div class="_page _clearfix _column _bg4">
				<div class="_wrap w2 _column" style="padding: 20px 0">
					<div class="_center">
						<h2 style="color: #FFF;" class="_inline">Lorem ipsum dolor sit amet</h2>
					</div>
					<div class="_center _column _cut">
						<div class="_center">
							<div class="button x2 solid white midnight _btnitsdiv"><span class="_table-cell" style="padding: 0 24px 0 0;">Try demo</span><img class="icon" src="src/windows.png"/></div>
							<div class="button x2 hollow white _btnitsdiv">Purchase</div>
						</div>
						<div class="_center _hide">
							<div class="button x2 solid white midnight _btnitsdiv"><span class="_table-cell" style="padding: 0 24px 0 0;">Download free</span><img class="icon" src="src/windows.png"/></div>
							<div class="button x2 hollow white _btnitsdiv"><span class="_table-cell" style="padding: 0 24px 0 0;">Other platforms</span><img class="icon" style="padding-right: 5px" src="src/sapple.png" /><img class="icon" src="src/slinux.png"/></div>						
						</div>
					</div>
				</div>
			</div>
			<cells>
				<div class="cell _bg2"><overlay><h3>Sample text</h3><button class="button hollow white">Learn more</button></overlay></div>
				<div class="cell _bg5"><overlay><h3>Sample text</h3><button class="button hollow white">Learn more</button></overlay></div>
				<div class="cell _bg3"><overlay><h3>Sample text</h3><button class="button hollow white">Learn more</button></overlay></div>
			</cells>
		</content>
		<footer>
			<div class="cell">
				<img src="src/motionbit_home_white.png">
				<div class="lang combo"><img src="src/flags/UK.png">English</div>
			</div>
			<content>
				<navbar>
					<a>Blog</a>
					<a>Downloads</a>
					<a>Support</a>
					<a>Our project</a>
					<a>Loyalty</a>
					<a>Motionbit ID</a>
				</navbar>
				<div class="lists">
					<table width="50%">
						<tr><th>Softwares</th>						<th>Motionbit</th>							<th>Support</th>				<th>Follow us</th>																							</tr>
						<tr><td><a class="l">Polymer</a></td>		<td><a class="l">Our project</a></td>		<td><a class="l">Forum</a></td>			<td><a href="https://discord.gg/WQb8uFg"><img src="src/discordwordmark.svg" height="24px"/></a><a href="https://www.youtube.com/channel/UCr9IAP_qcMOMZ8xelA8VmwQ"><img src="src/youtubelogo.svg" height="24px"/></a></td>	</tr>
						<tr><td><a class="l">Engine</a></td>		<td><a class="l">Blog</a></td>				<td><a class="l">Softwares</a></td>																													</tr>
						<tr><td><a class="l">Other</a></td>			<td><a class="l">ID</a></td>				<td><a class="l">Contact us</a></td>																													</tr>
						<tr><td><a class="l">Free</a></td>			<td></td>									<td></td>																																	</tr>
					</table>
				</div>
				<div class="subfooter _space-between">
					<div class="smtext"><a class="smlink">Homepage</a> <a class="smlink">Refund Policy</a> <a class="smlink">Legal Notice</a> <a class="smlink">Terms of Use</a> <a class="smlink">Privacy Policy</a></div>
					<copyright>
						<div class="smtext">
							© 2020 Motionbit Project. All Rights Reserved
						</div>
					</copyright>
				</div>
			</content>
		</footer>
	</body>
</html>