<!DOCTYPE html>
<head>
	<title>MOTIONBIT</title>
	<meta charset="UTF-8" description="Document1" keywords="none">
	<link rel="stylesheet" href="css/style.css" type="text/css"/>
	<link rel="stylesheet" href="css/default.css" type="text/css"/>
</head>
<body>
	<div class="content">
		<div class="savewrap">
			<header>
				<div class="header">
					<div class="navbar-header">
						<div class="_logo"><img src="src/motionbit_home.png" width="138" height="20"></div>
					</div>
					<div class="navbar-header">
						<a class="navbutton">Home</a>
						<a class="navbutton">Downloads</a>
						<a class="navbutton">Support</a>
						<a class="navbutton">Sign In</a>
					</div>
				</div>
			</header>
			<content>
				<div class="_page">
					<div class="_wrap w3 settings _flex _cheader">
						<!-- sidebar -->
						<div class="sidebar">
								<button class="button sidebtn selected">Account</button>
								<button class="button sidebtn">Security</button>
								<button class="button sidebtn">Purchases</button>
								<button class="button sidebtn">Loyalty</button>
								<button class="button sidebtn">Support</button>
						</div>
						<!-- settings -->
						<div class="container">
							<div class="padding_wrap">
								<h1>Account</h1>
								<div class="loyal-banner _bg4 _round">
									<div class="banner-entity left">
										<h1>Save 45% off!</h1>
										<h3>Take offer on this weekday!</h3>
									</div>
									<div class="banner-entity _todown">  
										<button class="button hollow white">Get offer</button>
									</div>
								</div>
								<div class="card-container _round _outline">
									<div class="card-header">
										<h3 class="h3-card">Lorem ipsum</h3><button class="button hollow x1">edit</button>
									</div>
									<div class="card-content">
										<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
										ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
										fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
										mollit anim id est laborum
										</p>
										<div class="message-box error">Connection error</div>
										<div class="message-box warning">Warning!</div>
										<div class="message-box info">Information message</div>
										<div class="message-box ok">Successful changes saved</div>
										<div class="message-box">Loading... 45%</div>
										<table width="30%">
											<tr><td class="card-label table-margin">Lorem ipsum</td><td class="card-subtext table-margin">dolor sit amet</td></tr>
											<tr><td class="card-label table-margin">Lorem ipsum</td><td class="card-subtext table-margin">dolor sit amet</td></tr>
											<tr><td class="card-label table-margin">Lorem ipsum</td><td class="card-subtext table-margin">dolor sit amet</td></tr>
											<tr><td class="card-label table-margin">Lorem ipsum</td><td class="card-subtext table-margin">dolor sit amet</td></tr>
										</table>
									</div>
								</div>
								<div class="card-container _round _outline">
									<div class="card-header">
										<h3 class="h3-card">Editable</h3><button class="button hollow x1 gray" type="button">cancel</button>
									</div>
									<div class="card-content">
										<div class="message-box">Editing</div>
										<form class="card-form" enctype="application/x-www-form-urlencoded" method="get" id="form-here_name" novalidate="">
											<table width="30%">
												<tr><td class="card-label table-margin">
													<div class="textbox">      
														<input name="loremipsum" id="textbox-here_name" autocomplete="off" type="text" value="" required/>
														<span class="textboxbar"></span>
														<label>Lorem ipsum</label>
													</div>
													<div class="textbox">      
														<input name="loremipsum" id="textbox-here_name" autocomplete="off" type="text" value="dolor sit amet" required/>
														<span class="textboxbar"></span>
														<label>Lorem ipsum</label>
													</div>
													<div class="textbox">      
														<input name="loremipsum" id="textbox-here_name" autocomplete="off" type="text" value="dolor sit amet" required/>
														<span class="textboxbar"></span>
														<label>Lorem ipsum</label>
													</div>
													<div class="textbox">      
														<input name="loremipsum" id="textbox-here_name" autocomplete="off" type="text" value="dolor sit amet" required/>
														<span class="textboxbar"></span>
														<label>Lorem ipsum</label>
													</div>
												</td></tr>
											</table>
											<center><button class="button hollow x1 gray" type="submit">save</button></center>
										</form>
									</div>									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- color map -->
				<div class="_page">
					<div class="_wrap w2">
						<div class="wrap_box" style="flex-direction: inherit;">
							<style>
								.clrcell {
									height: 7em;
								}
							</style>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #000000;"></div>
								<center>#000000</center>
							</div>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #FFFFFF;"></div>
								<center>#FFFFFF</center>
							</div>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #3CFF96;"></div>
								<center>#3CFF96</center>
							</div>	
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #50DCFF;"></div>
								<center>#50DCFF</center>
							</div>	
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #50AFFF;"></div>
								<center>#50AFFF</center>
							</div>	
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #2800FF;"></div>
								<center>#2800FF</center>
							</div>	
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #6414FF;"></div>
								<center>#6414FF</center>
							</div>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #B41EFF;"></div>
								<center>#B41EFF</center>
							</div>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #FF28FF;"></div>
								<center>#FF28FF</center>
							</div>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #FF2752;"></div>
								<center>#FF2752</center>
							</div>
							<div class="clrcell">
								<div style="width: 5em;height: 5em;background: #FF785A;"></div>
								<center>#FF785A</center>
							</div>
						</div>
					</div>
				</div>
			</content>
		</div>
		<footer>
			<div class="_wrap-footer">
				<div class="_logo-dark">
					<img src="src/motionbit_home_white.png" width="138" height="20">
				</div>
				<div class="footer-content">
					<div class="navbar-footer">
						<a class="navbutton-footer">Blog</a>
						<a class="navbutton-footer">Downloads</a>
						<a class="navbutton-footer">Support</a>
						<a class="navbutton-footer">Join us</a>
					</div>
					<div class="copyright">
						<p>© 2020 Motionbit Team</p>
					</div>
				</div>
			</div>
		<footer>
	</div>
</body>
</html>