<!DOCTYPE html>
<html>
	<head>
		<title>UI STYLES</title>
		<meta charset="UTF-8" description="Document1" keywords="none">
		<link rel="stylesheet" href="css/style.css" type="text/css"/>
		<link rel="stylesheet" href="css/default.css" type="text/css"/>
	</head>
	<body>
		<content>
			<!-- default ui button and their colors -->
			<div class="_page">
				<div class="_wrap w2">
					<table>
						<p style="font-family: monospace; font-size: 16px; color: #555; margin-bottom: 30px">class="button x3"</p>
						<tr><td><h1 style="margin-right: 80px">x3</h1></td><td><a class="button x3" href="#">Lorem Ipsum</a></td></tr>
						<tr><td><h2 style="margin-right: 80px">x2</h2></td><td><a class="button x2" href="#">Lorem Ipsum</a></td></tr>
						<tr><td><h3 style="margin-right: 80px">x1</h3></td><td><a class="button" href="#">Lorem Ipsum</a></td></tr>
					</table>
					<table>
						<p style="font-family: monospace; font-size: 16px; color: #555; margin: 30px 0 30px 0">class="button bold"</p>
						<tr><td></td><td><a class="button bold" href="#">Lorem Ipsum</a></td></tr>
					</table>
					<table>
						<p style="font-family: monospace; font-size: 16px; color: #555; margin: 30px 0 30px 0">class="button #colorname#"</p>
						<tr><td><p style="margin-right: 80px">warm</p></td><td><button class="button warm">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">sunrise</p></td><td><button class="button sunrise">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">midnight</p></td><td><button class="button midnight">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">default</p></td><td><button class="button">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">magic</p></td><td><button class="button magic">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">ocean</p></td><td><button class="button ocean">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">lime</p></td><td><button class="button lime">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">disabled</p></td><td><button class="button ocean disabled">Lorem Ipsum</button></td></tr>
					</table>
					<table>
						<p style="font-family: monospace; font-size: 16px; color: #555; margin: 30px 0 30px 0">class="button solid #colorname#"</p>
						<tr><td><p style="margin-right: 80px">orange</p></td><td><button class="button solid orange">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">scarlet</p></td><td><button class="button solid scarlet">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">fuchsia</p></td><td><button class="button solid fuchsia">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">purple</p></td><td><button class="button solid purple">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">default</p></td><td><button class="button solid">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">blue</p></td><td><button class="button solid blue">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">cyan</p></td><td><button class="button solid cyan">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">azure</p></td><td><button class="button solid azure">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">mint</p></td><td><button class="button solid mint">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">white</p></td><td><button class="button solid white">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">disabled</p></td><td><button class="button solid fuchsia disabled">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">gray</p></td><td><button class="button solid gray">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">black</p></td><td><button class="button solid black">Lorem Ipsum</button></td></tr>
					</table>
					<table>
						<p style="font-family: monospace; font-size: 16px; color: #555; margin: 30px 0 30px 0">class="button hollow #colorname#"</p>
						<tr><td><p style="margin-right: 80px">orange</p></td><td><button class="button hollow orange">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">scarlet</p></td><td><button class="button hollow scarlet">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">fuchsia</p></td><td><button class="button hollow fuchsia">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">purple</p></td><td><button class="button hollow purple">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">default</p></td><td><button class="button hollow">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">blue</p></td><td><button class="button hollow blue">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">cyan</p></td><td><button class="button hollow cyan">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">azure</p></td><td><button class="button hollow azure">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">mint</p></td><td><button class="button hollow mint">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">white</p></td><td><button class="button hollow white">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">disabled</p></td><td><button class="button hollow disabled">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">gray</p></td><td><button class="button hollow gray">Lorem Ipsum</button></td></tr>
						<tr><td><p style="margin-right: 80px">black</p></td><td><button class="button hollow black">Lorem Ipsum</button></td></tr>
					</table>
				</div>
			</div>
		</content>
	</body>
</html>
	